page-home {
    .star{
        margin-left: 55px;
    }
    .avatarurl{
        border-radius: 100%;
        width: 15%;
        display: inline;
    }
    .desc{
        font-size: 12px;
        width: 90%;
        margin-left: 6%;
        color: gray;
    }
    .item{
        span{
            font-size: 14px
        }
        .icon{
            margin-left: 5px
        }
    }
    .col{
        display: inline;
        position: absolute;
        left: 170px;
        margin-top: 10px;
    }
}
